.card{
    width: 350px;
    height: 300px;
    float:left;
    margin-left:25px;
    margin-top: 20px;
}
.card a{
    background-color: #301E67;
}
.card h5{
    background-color: #301E67;
}
.card p{
    background-color: #301E67;
}